@charset "UTF-8";
html{
    font-size: 6px;
    font-family: sans-serif;
    line-height: 1.3;
}
body{
    background-color: #bbbbbb;
    font-size: 0;
}

h3{
    font-weight: normal;
}
#menu-page{
    font-size: 2rem;
    width: 1200px;
    height: 1560px;
    background-color: #ffffff;
    margin: auto;
    padding-top: calc(6rem * 1.3);
    padding-left:  calc(16rem * 1.3);
    padding-right: calc(16rem * 1.3);
    box-sizing: border-box;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

p{
    margin: 0;
}

header{

}

.menu-content{
    font-size: 0;
}

#left-column{
    display: inline-block;
    width: calc(50% - 14rem * 1.3);
    margin-right:calc(25rem * 1.3);
    vertical-align: top;
}
#right-column{
    display: inline-block;
    width: calc(50% - 14rem * 1.3);
    margin-right:calc(3rem * 1.3);
    vertical-align: top;
}
.item-name{
    font-size: 6px;
    letter-spacing: 0.25rem;
}
.item-price{
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
}
.item-description{
    font-size: 2rem;
}
.catagery-title{
    font-size: 5rem;
    margin: 0;
    letter-spacing: 0.25rem;
}
.sides-category-title{
    font-size: 5rem;
    margin: 0;
    letter-spacing: 0.25rem;
}