/* #btn{
    width: 50px;
    height: 50px;
    background-color: blue;
    cursor: pointer;
} */


#div1{
    background-color:red;
    width: 100px;
    height: 100px;
    margin:10px;
    border:10px black solid;
    padding: 10px;
    box-sizing:content-box;
}
#div1copy{
    background-color:red;
    width: 100px;
    height: 100px;
    margin:10px;
    border:10px black solid;
    padding: 10px;
    box-sizing:border-box;
}
#div2{
    background-color:blue;
    width: 100px;
    height: 100px;
    margin:10px;
    border:10px black solid;
    padding: 10px;
    box-sizing: content-box;
}