@charset "UTF-8";
html{
    font-size:7px;
    line-height:1.3;
}
body{
    font-family:sans-serif;
    font-size:0;
}
#carousel1{
    white-space: nowrap;
    font-size:0;
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#carousel1>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

#carousel1>.buttons-container{
   font-size: 4rem;
   position: absolute;
   top: calc(4rem * 1.3);
   left:  calc(4rem * 1.3);
   color: white;
   user-select: none;
}

span{
    cursor: pointer;
    user-select: none;
}
#carousel1-prev:hover{
    color: red
}
#carousel1-next:hover{
    color: red
}

.deactivated{
    color: gray
    cursor: default;
}

.deactivated:hover{
    color: gray
    cursor: default;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition : all 1s ease;
}
.more-margin{
    margin-left: 100px;
    margin-top: 100px;
}
#button{
    width: 40px;
    height: 40px;
    background-color: red;
}