
#div1{
    width:100px;
    height:100px;
    border:black solid 1px;
    box-sizing: border-box;
}
#div2{
    width:100px;
    height:100px;
    border:black solid 1px;
    box-sizing: border-box;
}
#div3{
    width:100px;
    height:100px;
    border:black solid 1px;
    box-sizing: border-box;
}

#div4{
    width:100px;
    height:100px;
    border:black solid 1px;
    box-sizing: border-box;
}

input{
    width:100px;
    height:14px;
}
#result{
    width:100px;
    height:100px;
    background-color: #999911;
}